// Global Colors
$primary-color: #f0f0f0;
$secondary-color: #f0eeed;
$text-color: #000;

@import url("https://db.onlinewebfonts.com/c/f1fcc5aed1e20fc0cdb9f8a7573625bd?family=Integral+CF+Regular");
@import url("https://fonts.cdnfonts.com/css/satoshi");

body {
  font-family: "Satoshi", sans-serif;
}

h1 {
  font-size: 64px;
  font-family: "Integral CF Regular";
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-family: "Integral CF Regular";
  font-weight: 800;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 16px;
}

span {
  font-size: 16px;
}

header {
  .signup-menu {
    span {
      font-weight: 400;
    }

    a {
      font-weight: 500;
    }
  }
  .nav-link {
    color: $text-color;
  }

  .search-bar {
    background-color: $primary-color;
    max-width: 100%;
    width: 55%;
    border-radius: 62px;
    height: 2.5rem;
    padding: 0 25px;
    display: flex;
    align-items: center;
    color: #909090;
  }

  input {
    background-color: transparent;
    border: none;
    margin-left: 10px;
  }

  input:focus {
    outline: none;
    color: $text-color;
  }
}

.section-1 {
  .hero {
    background-image: url("../images/hero.png");
    min-height: 600px;
  }

  p {
    font-weight: 200;
  }

  button {
    padding: 16px 54px;
    width: 17%;
    border-radius: 62px;
  }

  h3 {
    font-weight: 600;
    padding-top: 40px;

    span {
      font-weight: 200;
    }
  }
}

.logolist {
  img {
    margin-right: 25px;
  }
}
